<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.kanemochi.dao.ExpMapper">

	<update id="upExp" parameterType="map">
		update users
		set user_score = #{exp}
		where user_id = #{id}
	</update>
	
	<select id="getScore" parameterType="String" resultType="Integer">
		select user_score
		from users
		where user_id = #{id}
	</select>
	
	<select id="login_days" parameterType="String" resultType="Integer">
		select count(c)
		from (select count(login_date) c
			  from login
			  where user_id = #{id}
			  group by login_date)
	</select>

</mapper>

