<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.kanemochi.dao.ExpMapper">
	
	<select id="getExp" parameterType="String" resultType="Integer">
		select user_score
		from users
		where user_id = #{id}
	</select>
	
	<select id="getCharacter" parameterType="String" resultType="String">
		select img_id
		from users
		where user_id = #{id}
	</select>

	<update id="upExp" parameterType="ExpVO">
		update users
		set user_score = #{exp}
		where user_id = #{id}
	</update>
	
	<!-- login 한 날짜 구하기 (하루에 여러번 와도 한 번 온 걸로 처리됨) -->
	<select id="login_days" parameterType="String" resultType="Integer">
		select count(c)
		from (select count(login_date) c
			  from login
			  where user_id = #{id}
			  group by login_date)
	</select>
	
	<!-- login 한 횟수 구하기 (하루에 여러번 오면 여러번 처리됨) -->
	<select id="login_times" parameterType="String" resultType="Integer">
		select count(*)
		from login
		where user_id = #{id}
	</select>
	
	<!-- record 개수 구하기 -->
	<select id="record_count" parameterType="String" resultType="Integer">
		select count(*)
		from record
		where user_id = #{id}
	</select>

	<update id="setNewLevel" parameterType="MemberVO">
		update users
		set level_title = #{level_title}
		where user_id = #{user_id}
	</update>
</mapper>

