<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.kanemochi.dao.RecordMapper">
	
	<insert id="input" parameterType="RecordVO">
		insert into record
		values(seq_record.nextval, #{user_id}, #{record_date}, #{category}, #{record_tag}, #{record_price}, '￥', #{record_pay})
	</insert>
	
	<insert id="setStatus" parameterType="ShopVO">
		insert into shop
		values(seq_shop.nextval, #{img_id}, #{user_id}, #{img_x}, #{img_y}, sysdate)
	</insert>
	
	<select id="getStatus" parameterType="String" resultType="ShopVO">
		select user_id,img_x,img_y,img_id from shop where user_id = #{id} order by makedate asc
	</select>
	
	<delete id="deleteStatus" parameterType="ShopVO">
  		delete 
  		from shop
		where img_id=#{img_id} and user_id=#{user_id} and img_x=#{img_x} and img_y=#{img_y}  		
  	</delete>
	
	<update id="upcount" parameterType="RecordVO">
		update count set
		<if test="category == 'cafe'">
		cafe = cafe+1
		</if>
		<if test="category == 'beer'">
		beer = beer+1
		</if>
		<if test="category == 'ramen'">
		ramen = ramen+1
		</if>
		<if test="category == 'cvs'">
		cvs = cvs+1
		</if>
		<if test="category == 'sushi'">
		sushi = sushi+1
		</if>
		<if test="category == 'dessert'">
		dessert = dessert+1
		</if>
		<if test="category == 'bank'">
		bank = bank+1
		</if>
		<if test="category == 'bus'">
		bus = bus+1
		</if>
		<if test="category == 'movie'">
		movie = movie+1
		</if>
		<if test="category == 'hospital'">
		hospital = hospital+1
		</if>
		<if test="category == 'book'">
		book = book+1
		</if>
		<if test="category == 'hair'">
		hair = hair+1
		</if>
		<if test="category == 'clothes'">
		clothes = clothes+1
		</if>
		<if test="category == 'burger'">
		burger = burger+1
		</if>
		where user_id = #{user_id}
	</update>

	<update id="downcount" parameterType="CountOneVO">
		update count set
		<if test="category == 'cafe'">
		cafe = cafe-1
		</if>
		<if test="category == 'beer'">
		beer = beer-1
		</if>
		<if test="category == 'ramen'">
		ramen = ramen-1
		</if>
		<if test="category == 'cvs'">
		cvs = cvs-1
		</if>
		<if test="category == 'sushi'">
		sushi = sushi-1
		</if>
		<if test="category == 'dessert'">
		dessert = dessert-1
		</if>
		<if test="category == 'bank'">
		bank = bank-1
		</if>
		<if test="category == 'bus'">
		bus = bus-1
		</if>
		<if test="category == 'movie'">
		movie = movie-1
		</if>
		<if test="category == 'hospital'">
		hospital = hospital-1
		</if>
		<if test="category == 'book'">
		book = book-1
		</if>
		<if test="category == 'hair'">
		hair = hair-1
		</if>
		<if test="category == 'clothes'">
		clothes = clothes-1
		</if>
		<if test="category == 'burger'">
		burger = burger-1
		</if>
		where user_id = #{user_id}
	</update>

	<select id="getcount" parameterType="CountOneVO" resultType="int">
		select
		<if test="category == 'cafe'">
		cafe
		</if>
		<if test="category == 'beer'">
		beer
		</if>
		<if test="category == 'ramen'">
		ramen
		</if>
		<if test="category == 'cvs'">
		cvs
		</if>
		<if test="category == 'sushi'">
		sushi
		</if>
		<if test="category == 'dessert'">
		dessert
		</if>
		<if test="category == 'bank'">
		bank
		</if>
		<if test="category == 'bus'">
		bus
		</if>
		<if test="category == 'movie'">
		movie
		</if>
		<if test="category == 'hospital'">
		hospital
		</if>
		<if test="category == 'book'">
		book
		</if>
		<if test="category == 'hair'">
		hair
		</if>
		<if test="category == 'clothes'">
		clothes
		</if>
		<if test="category == 'burger'">
		burger
		</if>
		from count where user_id = #{user_id}
	</select>

	<select id="getAllCount" parameterType="String" resultType="CountVO">
		select * from count where user_id = #{id}
	</select>
	
	<select id="getEveryRecord" parameterType="String" resultType="RecordVO">
		select user_id,TO_CHAR(record_date,'YYYY-MM-DD')record_date,category,record_price,record_pay 
		from record 
		where user_id = #{id}
		order by record_date
	</select>
	
	<insert id="insertbudget" parameterType="String">
		insert into budget
		values(seq_budget.nextval, #{user_id}, sysdate, 0, 0, 0)
	</insert>

	<update id="setbudget" parameterType="BudgetVO">
		update budget set
		monthly = #{monthly},
		weekly = #{weekly},
		daily = #{daily}
		where user_id = #{user_id}
		and TO_CHAR(budget_date,'YYYY-MM') = TO_CHAR(sysdate,'YYYY-MM')
	</update>
	
	<select id="getbudget" parameterType="String" resultType="BudgetVO">
		select * 
		from budget
		where user_id = #{id} 
		and TO_CHAR(sysdate, 'YYYY-MM') = TO_CHAR(budget_date, 'YYYY-MM')
	</select>

	<select id="getExpense" parameterType="String" resultType="SumVO">
		select sum(record_price) sum
		from record
		where user_id = #{id}
		and record_date between (SELECT TRUNC(SYSDATE,'MM') FROM DUAL) and (SELECT LAST_DAY(SYSDATE) FROM DUAL)
	</select>
	
	<select id="getSelectDateRecord" parameterType="DateCategoryVO" resultType="RecordVO">
		select *
		from record
		where user_id = #{id}
		and TO_CHAR(record_date, 'YYYY-MM-DD') between #{start_date} and #{end_date}
	</select>
	
	<select id="budgetList" resultType="BudgetVO">
		select * from budget where user_id = #{id}
	</select>
	
	<select id="avgCost" parameterType="String" resultType="Int">
		select avg(record_price) from record where user_id = #{id}
	</select>
	
</mapper>

