<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.project.kanemochi.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.project.kanemochi.vo.RecordVO" alias="RecordVO"/>
		<typeAlias type="com.project.kanemochi.vo.CountVO" alias="CountVO"/>
		<typeAlias type="com.project.kanemochi.vo.CountOneVO" alias="CountOneVO"/>
		<typeAlias type="com.project.kanemochi.vo.BudgetVO" alias="BudgetVO"/>
		<typeAlias type="com.project.kanemochi.vo.ShopVO" alias="ShopVO"/>
		<typeAlias type="com.project.kanemochi.vo.ScreenshotVO" alias="ScreenshotVO"/>
		<typeAlias type="com.project.kanemochi.vo.ExpVO" alias="ExpVO"/>
		<typeAlias type="com.project.kanemochi.vo.SumVO" alias="SumVO"/>
		<typeAlias type="com.project.kanemochi.vo.DateCategoryVO" alias="DateCategoryVO"/>
		<typeAlias type="com.project.kanemochi.vo.BubbleVO" alias="BubbleVO"/>
		<typeAlias type="com.project.kanemochi.vo.LimitVO" alias="LimitVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/memberMapper.xml"/>
		<mapper resource="mapper/recordMapper.xml"/>
		<mapper resource="mapper/expMapper.xml"/>
		<mapper resource="mapper/GKMapper.xml"/>
		<mapper resource="mapper/GPMapper.xml"/>
		<mapper resource="mapper/androidMapper.xml"/>
	</mappers>
</configuration>
